<nav class="navbar">
  <div class="navbar-container">
    <div class="nav-menu-left">
      <div class="nav-title">
        <h1>Chris Tallamy</h1>
      </div>
    </div>


  <ul class="nav-menu-center">
    <li class="nav-item">
      <a class="nav-link" href="#banner-home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about-home">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects-title">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contacts-home">Contacts</a>
    </li>
  </ul>

  <ul class="nav-menu-right">
      <li class="social-item">
        <a href="https://github.com/Tallers28" target="_blank"><i class="fa-brands fa-github"></i></a>
      </li>
      <li class="social-item">
        <a href="https://instagram.com/christallamy" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="social-item">
        <a href="https://linkedin.com/in/chris-tallamy-02381131a" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</nav>
