<div class="container-home">
  <div class="banner-home">
    <div class="row">
      <div class="col">
        <div class="banner-title">
          <h2 id="title-home-1">Hello<font color="#960196">,</font></h2>
          <h2 id="title-home-1">I am Chris</h2>
          <p id="title-home-2">A junior full stack developer with a passion for front end design and style.</p>
          </div>
      </div>
      <div class="col">
        <div class="banner-image">
        </div>
      </div>
    </div>
  </div>
    <div class="about-home">
      <div class="row">
        <div class="col">
          <div class="about-image">
          </div>
        </div>
        <div class="col">
          <div class="about-title">
              <h2 id="about-home-1">About me<font color="#960196">....</font></h2>
              <p id="about-home-2">What best describes me is that I have always been driven by working with people, whether that is in teams to deliver goals & results or making a difference for someone on a daily basis.</p>
              <p id="about-home-2"> After a successful 25 year career in retail management, I have decided to transition into the dynamic and ever-evolving field of web development. The opportunity to embark on this new career path is incredibly exciting.</p>
              <p id="about-home-2">After completing a <font color="#960196"><strong>10 week full time Web Development boot camp at Le Wagon</strong></font> finishing in July 2024, I have acquired a strong foundational knowledge that has equipped me with the skills and confidence to thrive in the world of web development.</p>
              <p id="about-home-2">This comprehensive course has provided me with a solid understanding of various programming languages, frameworks, and best practices. It has also instilled in me a deep appreciation for continuous learning and growth within this dynamic industry.</p>
              <p id="about-home-2">I am excited to build upon this foundation as I continue my journey in the world of web development, eager to further expand my expertise whilst applying my skills and passion for technology to create innovative web solutions that harness my communication and teamworking skills I have developed over the years with my love of great looking front-end design with the clients needs at the heart of it.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="skills-home">
      <h2 id="skills-title">Experience</h2>
      <ul class="skills-icons-home">
        <li id="icon-list"><i class="fa-regular fa-gem" id="icon-style"></i>Ruby</li>
        <li id="icon-list"><i class="fa-solid fa-gem" id="icon-style"></i>Ruby on Rails</li>
        <li id="icon-list"li><i class="fa-brands fa-html5" id="icon-style"></i>HTML5</li>
        <li id="icon-list"li><i class="fa-brands fa-css3" id="icon-style"></i>CSS</li>
        <li id="icon-list"li><i class="fa-brands fa-sass" id="icon-style"></i>SCSS</li>
        <li id="icon-list"li><i class="fa-brands fa-js" id="icon-style"></i>JavaScript</li>
        <li id="icon-list"li><i class="fa-brands fa-bootstrap" id="icon-style"></i>Bootstrap</li>
        <li id="icon-list"li><i class="fa-brands fa-figma" id="icon-style"></i>Figma</li>
        <li id="icon-list"li><i class="fa-solid fa-database" id="icon-style"></i>SQL</li>
        <li id="icon-list"li><i class="fa-solid fa-database" id="icon-style"></i>PostgreSQL</li>
        <li id="icon-list"li><i class="fa-brands fa-github" id="icon-style"></i>Github</li>
        <li id="icon-list"li><i class="fa-brands fa-git" id="icon-style"></i>Git</li>
      </ul>
    </div>
    <div class="projects-home">
      <h2 id="projects-title">Projects</h2>
        <div class="projects-title">
          <div class="project-title">
              <h2 id="project-title">First-Stage</h2>
              <h2 id="project-date">Completed: Jul 2024</h2>
            </div>
            <div class="project-image-1" id="media-img_2">
          </div>
            <div class="project-description">
            <p><strong><font color="#960196">First-stage</font></strong> was our final project for the <strong><font color="#960196">Le Wagon Web Development boot camp</font></strong>. I worked in a team of 5 developers to plan, design and code the site over a 2 week period which we presented live to all the online boot camps finishing and the new Le Wagon students joining the next intake for August.</p>
            <p>The website's key aim was to support with newly qualified developers getting interview practice with mid / senior developers to help them prepare for real interviews whilst providing interviewing experience for developers looking to progress their careers further.</p>
            <p>The website used Zoom web conferencing API to create zoom meetings for the mock interviews and the planned meetings were stored in each users account details. Users are also able to leave reviews with the developers once they have completed the mock interviews to help to build feedback for the senior developers using the platform to gain interview completion expereince.</P>
            <p>The tech stack used to complete the project included <strong><font color="#960196">Ruby on Rails, HTML5, SCSS, Bootstrap, PostpreSQL, devise (user login), rest-client (chatroom), cloudinary image handling, heroku and the Zoom meeting API.</font></strong></p>
          </div>
        </div>
        <div class="projects-title">
          <div class="project-title">
              <h2 id="project-title">AirPnP</h2>
              <h2 id="project-date">Completed: Jul 2024</h2>
            </div>
            <div class="project-image-2" id="media-img_2">
          </div>
            <div class="project-description">
            <p><strong><font color="#960196">AirPnP</font></strong> was our group mock project for the <strong><font color="#960196">Le Wagon Web Development boot camp</font></strong> which was the challenge leading into the final project. The project was completed by a team of 5 developers I was involved with from the bootcamp.</p>
            <p>The goal of this challenge was to help us setup and learn how to collaborate together on the same application and how we can use git to manage bringing all the different completed sections together without breaking our code.</p>
            <p>The aim of the project was to build a copy of Airbnb with our own spin on the site. Our project focused on renting swimming pools to customers and was built to allow a user to rent a pool for a couple of hours or for whole days if required.</p>
            <p>The website used Mapbox API to show locations of the pools and had functionality for a pool owner to accept or reject a booking if required. We also setup devise through Ruby on Rails to allow users to sign in and out securely.</p>
            <p>The tech stack used to complete the project included <strong><font color="#960196">Ruby on Rails, HTML5, SCSS, Bootstrap, PostpreSQL, devise (user login), cloudinary image handling and Mapbox API.</font></strong></p>
          </div>
        </div>
      </div>
      <div class="contacts-home" id="contacts-home">
        <h2 id="contacts-title">Contacts</h2>
        <div class="row">
          <div class="col">
            <div class="contacts-info-home">
              <h3 id="contact-info"><font color="#960196"><i class="fa-solid fa-envelope"></font></i> tallers28@hotmail.co.uk</h3>
              <h3 id="contact-info"><font color="#960196"><i class="fa-solid fa-phone"></font></i> +447714235008</h3>
            </div>
          </div>
          <div class="col">
            <div class="contacts-info-home">
              <div class="contacts-info-address">
              <h3 id="contact-info"><font color="#960196"><i class="fa-solid fa-location-dot"></i></font></i></h3><h3 id="contact-info"> Westgate on Sea<br> Kent<br> United kingdom</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
