.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 2px 2px rgba(122, 122, 122, 0.1);
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  list-style: none;
  width: 15%;
  margin: 0;
  padding: 0;
}

.nav-title h1 {
  font-family: "Pacifico", cursive !important;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  margin-left: 10px;
  color: rgb(150, 1, 150);
}


.nav-menu-center {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  list-style: none;
  width: 65%;
  margin: 0;
  padding: 0;

  .nav-item {
    margin: 0 40px;
  }
  .nav-link {
    text-decoration: none;
    color: rgb(98, 98, 98);
    font-weight: 200;
  }

  .nav-link:hover {
    color: rgb(150, 1, 150);

  }

}


.nav-menu-right {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  margin: 0 20px;

  i {
    color: rgb(98, 98, 98);
    font-size: 25px;

  }

  i:hover {
    color: rgb(150, 1, 150);
  }
}
